div(style={'margin-bottom': '3%', 'z-index': '3000'})
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='javascript:void(0)')
          img(src='assets/images/logo.svg', alt='Brand', height='30')
        a.navbar-brand(href='javascript:void(0)') Genermasa
      //div.navbar-collapse.navbar-collapse-toolbar.collapse(aria-expanded='false')
        //ul.nav.navbar-toolbar.navbar-right.navbar-toolbar-right
          //li.nav-item.dropdown
            //a.nav-link(data-toggle='dropdown', href='javascript:void(0)', title='Notifications', aria-expanded='false', data-animation='slide-bottom', role='button')
              //i.icon.md-search(aria-hidden='true')
          //li.nav-item.dropdown
            //a.nav-link(data-toggle='dropdown', href='javascript:void(0)', title='Notifications', aria-expanded='false', data-animation='slide-bottom', role='button')
              //i.icon.md-view-headline(aria-hidden='true')
  nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role='navigation', style={'margin-top': '4.715rem', 'z-index': '2000', 'background-color': '#016241'})
    div.container-fluid
      div.navbar-header
        //a.navbar-brand(href='javascript:void(0)')
          //img(src='assets/images/logo.svg', alt='Brand', height='30')
        //a.navbar-brand(href='javascript:void(0)') Genermasa
      div.navbar-collapse.navbar-collapse-toolbar.collapse(aria-expanded='false')
        ul.nav.navbar-toolbar.navbar-right.navbar-toolbar-right
          li.nav-item.dropdown
            a.nav-link(href="graphCards.html")
              i.icon.md-card-sd(aria-hidden="true", title='Guardar')
          li.nav-item.dropdown
            a.nav-link(href='javascript:void(0)', title='Editar', aria-expanded='false')
              i.icon.md-edit(aria-hidden='true')
          li.nav-item.dropdown
            a.nav-link( href="#", title='Horas', aria-expanded='false')
              | Nuevo Proyecto #[i.icon.md-plus(aria-hidden='true')]
          li.nav-item.dropdown
            a.nav-link(href='javascript:void(0)', title='Gasto', aria-expanded='false')
              | Registrar gasto #[i.icon.md-money-box(aria-hidden='true')]
          li.nav-item.dropdown
            a.nav-link( href="#", title='Horas', aria-expanded='false')
              | Registrar horas #[i.icon.md-hourglass-alt(aria-hidden='true')]
        
            
